
a {
    color: #000;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

h2 {
    font-weight: normal;
    font-size: 13px;
}

.day {
    height:28px;
    font-size: 16px;
    font-weight: normal;
}

.print_day {
    text-align: right;
    font-size: 9px;
}

table.order {
    width: 100%;
    padding: 8px 4px;
    text-align: center;
}

table.order.option tr td,table.order.option tr th {
    width: 10%;
}

.option_name {
    height: 20px;
}

table.order tr th {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
table.order td,table.order th {
    border: 1px das #000;
    font-size: 8px;
}

.notices {
    text-align: left;
}

table.order td.total {
    font-size: 10px;
}

.unpaid {
    color: #f58428;
}

.deposited {
    color: #429dc1;
}