.calender {
  width: 60%;
  margin: 0 auto;
}
.calender .info {
  display: flex;
  border: 2px solid #ddd;
  padding: 5px 0;
  border-radius: 3px;
  justify-content: space-around;
  text-align: center;
}
.calender .info dt {
  font-weight: bold;
}
.calender .info dd {
  font-size: 11px;
}
.calender .year_month {
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}
.calender .table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
.calender .table th {
  padding: 2px;
  background-color: #444;
  color: #fff;
}
.calender .table th:first-child {
  background-color: rgb(230, 17, 17);
  color: #fff;
}
.calender .table th:last-child {
  background-color: rgb(5, 97, 202);
  color: #fff;
}
.calender .table td {
  padding: 20px 5px 5px 5px;
}
.calender .table td p {
  font-weight: bold;
  font-size: 10px;
  text-align: right;
}
.calender .table th,
.calender .table td {
  border: 1px solid #666;
}
.calender .table td.today {
  background-color: rgb(254, 240, 243);
}
.calender .table td.disabled {
  color: #999;
}
.calender__sec {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.calender__sec_item {
  cursor: pointer;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-in-out 0.1s;
}
.calender__sec_item.current {
  left: 0;
  right: 0;
  top: 0;
}
.calender__sec_item.next {
  left: 101%;
  right: auto;
}
.calender__sec_item.prev {
  left: -101%;
  right: auto;
}
.calender .slider__arrow {
  display: block;
  width: 48%;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  cursor: pointer;
  background-color: rgb(215, 0, 104);
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.calender .slider__arrow.is-prev {
  left: 0;
}
.calender .slider__arrow.is-next {
  right: 0;
}
.calender .slider__arrow.disable {
  opacity: 0.2;
  pointer-events: none;
}

.calender .icon {
  font-weight: bold;
  font-size: 20px;
}
.calender .type01 {
  color: #aaa;
}
.calender .type02 {
  color: rgb(215, 0, 104);
}
.calender .type03 {
  color: rgb(64, 171, 112);
}
.calender .type04 {
  color: #000;
}