@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700;900&display=swap');

html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 1.6;
	overflow: hidden;

}

a {
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	opacity: 1;
	outline: none;
}

a:hover {
	opacity: 0.7;
}

.only_smart,
.only_smart_i {
	display: none !important;
}

img {
	max-width: 100%;
}

#loading {
	width: 100%;
	height: 100vh;
	background: #fff url(../img/loading.gif)no-repeat center center;
	position: fixed;
	z-index: 1000;
}


#wrapper {
	display: none;
}

/* form_back_btn */
.form_back_btn {
	display: block;
	width: 100%;
	max-width: 640px;
	line-height: 78px;
	margin: 30px auto 0;
	font-size: 18px;
	color: #fff;
	background-color: gray;
	border-radius: 8px;
	position: relative;
}

.form_back_btn:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 12px 8px 0;
	border-color: transparent #fff transparent transparent;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.form_back_btn:after {
	content: '';
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 3px solid #fff;
	border-radius: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
}

/* .link_btn */
.link_btn {
	display: block;
	width: 100%;
	max-width: 640px;
	line-height: 78px;
	margin: 30px auto 0;
	font-size: 18px;
	color: #fff;
	background-color: #e50054;
	border-radius: 8px;
	position: relative;
}

.link_btn:before {
	content: '';
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 3px solid #fff;
	border-radius: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
}

.link_btn:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 12px;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}


/* .more_btn */
.more_btn {
	display: block;
	width: 100%;
	max-width: 640px;
	line-height: 70px;
	margin: 20px auto 0;
	font-size: 18px;
	color: #e50054;
	background-color: #f1e2e7;
	border-radius: 3px;
	position: relative;
}

.more_btn:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 12px;
	border-color: transparent transparent transparent #e50054;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}


/* 地図オーバーレイ */
html.overlay {
	overflow: hidden;
	height: 100%;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding: 50px 0;
	top: 0;
	left: 0;
	z-index: 102;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#overlay div {
	width: 645px;
	margin: auto;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	border-radius: 10px;
}

#overlay div span {
	display: block;
	width: 40px;
	line-height: 37px;
	padding-bottom: 3px;
	font-size: 24px;
	background-color: #ccc;
	border-radius: 50%;
	transform: rotate(45deg);
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
}

#overlay div dl {
	width: 94%;
	margin: auto;
	display: none;
	text-align: left;
}

#overlay div dl dt {
	font-size: 32px;
	display: block;
	width: 8em;
	margin: 0 auto 30px;
	border-bottom: 3px solid;
	text-align: center;
}

#overlay div dl.hokkaido dt {
	color: #33678e;
}

#overlay div dl.tohoku dt {
	color: #338d9f;
}

#overlay div dl.kanto dt {
	color: #338d77;
}

#overlay div dl.chubu dt {
	color: #7c963f;
}

#overlay div dl.kinki dt {
	color: #bd8533;
}

#overlay div dl.chugoku dt {
	color: #c4476c;
}

#overlay div dl.shikoku dt {
	color: #c55b49;
}

#overlay div dl.kyusyu dt {
	color: #8a6c8e;
}

#overlay div dl dd {
	width: 45%;
	display: inline-block;
	margin: 2%;
	text-align: center;
}

#overlay div dl dd a {
	display: block;
	line-height: 2;
	font-size: 24px;
	color: #000;
	border: 2px solid;
	border-radius: 5px;
	background-color: #fff;
}


/* 検索オーバーレイ */
html.overlay {
	overflow: hidden;
	height: 100%;
}

#overlay_search {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding: 70px 0;
	top: 0;
	left: 0;
	z-index: 102;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#overlay_search div {
	width: 645px;
	margin: auto;
	padding: 20px 30px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	border-radius: 10px;
}

#overlay_search div>span {
	display: block;
	width: 50px;
	line-height: 45px;
	padding: 0 0 5px 3px;
	font-size: 42px;
	font-weight: bold;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 2px #000;
	transform: rotate(45deg);
	cursor: pointer;
	position: absolute;
	right: -5px;
	top: -20px;
}

#overlay_search div button {
	width: 400px;
	line-height: 44px;
	margin: 20px auto;
	display: block;
	background-color: #e50054;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	position: relative;
	cursor: pointer;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

#overlay_search div button:hover {
	opacity: 0.7;
}

#overlay_search div button:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

#overlay_search div ul {
	text-align: left;
}

#overlay_search div ul li {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	padding-bottom: 20px;
}

#overlay_search div ul li:nth-child(odd) {
	margin-right: 3%;
}

#overlay_search div ul li.w100 {
	width: 100%;
}

#overlay_search div ul li dl dt {
	line-height: 2;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid;
}

#overlay_search div ul li dl dd {
	font-size: 14px;
	padding: 3px 0;
}

#overlay_search div ul.location li dl dd {
	display: inline-block;
	vertical-align: top;
	width: 6em;
}

#overlay_search div ul.detail li dl dd {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	min-width: 9em;
	letter-spacing: -0.05em;
}

#overlay_search div ul li.w100 dl dd,
#overlay_search div ul li.w100 dl dd.w100 {
	width: 100%;
	min-width: auto;
	min-width: initial;
}

#overlay_search div ul.category li dl dd,
#overlay_search div ul.tag li dl dd {
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: 5%;
}

#overlay_search div ul.category li dl dd:last-of-type {
	margin-right: 0;
}

#overlay_search div ul.category li dl dd {
	width: 20%;
	text-align: center;
}

#overlay_search div ul.category li dl dd label img {
	max-width: 109px;
	width: 100%;
	display: block;
	margin: 0 auto 5px;
}

#overlay_search div ul li dl dd label span {
	margin-left: 5px;
}

#overlay_search div ul li dl dd input[type="text"] {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background: #fff;
	border: 1px solid #a2a2a2;
	font-size: 16px;
}

#overlay_search input[type="checkbox"],
#overlay_search input[type="radio"] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	content: "";
	background-color: #FFFFFF;
	border: 1px solid #999999;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	vertical-align: middle;
	cursor: pointer;
}

#overlay_search input[type="checkbox"]:checked+span,
#overlay_search input[type="radio"]:checked+span {
	color: #e50054;
	font-weight: bold;
}

#overlay_search input[type="checkbox"]:checked:after,
#overlay_search input[type="radio"]:checked:after {
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	content: "";
	width: 10px;
	height: 10px;
	background: #e50054;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#overlay_search input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	content: "";
	background-color: #FFFFFF;
	border: 1px solid #999999;
	-webkit-border-radius: 0;
	border-radius: 0;
	vertical-align: middle;
	cursor: pointer;
}

#overlay_search input[type="checkbox"]:checked:after {
	display: block;
	position: absolute;
	top: 0px;
	left: 4px;
	content: "";
	width: 8px;
	height: 14px;
	border-right: 3px solid #e50054;
	border-bottom: 3px solid #e50054;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: transparent;
	border-radius: 0;
}


#overlay_search div button {
	width: 200px;
	line-height: 44px;
	margin: 20px auto;
	display: inline-block;
	background-color: #e50054;
	border-radius: 5px;
	border: 1px solid #e50054;
	font-size: 16px;
	color: #fff;
	text-align: center;
	position: relative;
	cursor: pointer;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transform: rotate(0.03deg);
}

#overlay_search div button[type="button"] {
	background-color: #fff;
	color: #e50054;
	display: none;
}

#overlay_search div button:hover {
	opacity: 0.7;
}

#overlay_search div button:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

#overlay_search div button[type="button"]:after {
	border-color: transparent transparent transparent #e50054;
}

/* .slick */
.slick {
	max-width: 650px;
	margin: 30px auto 0;
}

.slick div.item {
	padding-bottom: 5px;
}

.slick div.item a {
	display: block;
	width: 96%;
	margin: auto;
	padding: 3% 5%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 4px 4px 0 #d1cacd;
	text-align: left;
}

.slick div.item a img {
	width: 100%;
	margin-bottom: 10px;
}

.slick div.item a>span {
	display: block;
	width: 57px;
	line-height: 14px;
	margin-bottom: 3px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.slick div.item a>span.advice {
	background-color: #55adb9;
}

.slick div.item a>span.item {
	background-color: #e38286;
}

.slick div.item a>span.gourmet {
	background-color: #5ea634;
}

.slick div.item a>span.place {
	background-color: #f1b93c;
}

.slick div.item a h3 {
	font-size: 14px;
	font-weight: normal;
	color: #e50054;
}

.slick div.item a h3 span {
	display: block;
	font-size: 10px;
	color: #000;
}

.slick div.item a p {
	font-size: 12px;
	color: #000;
}

.slick div.item a p span {
	display: block;
	text-align: right;
	font-size: 10px;
	text-align: right;
}


/* 写真地域アイコン */
figure.hokkaido,
figure.tohoku,
figure.kanto,
figure.chubu,
figure.kinki,
figure.chugoku,
figure.shikoku,
figure.kyusyu,
figure.okinawa {
	position: relative;
}

figure.hokkaido:after,
figure.tohoku:after,
figure.kanto:after,
figure.chubu:after,
figure.kinki:after,
figure.chugoku:after,
figure.shikoku:after,
figure.kyusyu:after,
figure.okinawa:after {
	display: block;
	width: 38px;
	line-height: 15px;
	border-radius: 3px;
	border: 2px solid #fff;
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 10px;
}

figure.hokkaido:after {
	content: '北海道';
	background-color: #33678e;
}

figure.tohoku:after {
	content: '東北';
	background-color: #338d9f;
}

figure.kanto:after {
	content: '関東';
	background-color: #338d77;
}

figure.chubu:after {
	content: '中部';
	background-color: #7c963f;
}

figure.kinki:after {
	content: '近畿';
	background-color: #bd8533;
}

figure.chugoku:after {
	content: '中国';
	background-color: #c4476c;
}

figure.shikoku:after {
	content: '四国';
	background-color: #c55b49;
}

figure.kyusyu:after {
	content: '九州';
	background-color: #8a6c8e;
}

figure.okinawa:after {
	content: '沖縄';
	background-color: #5b6ca4;
}


/* .stars */
.stars {
	line-height: 1;
	text-align: left;
}

.stars img {
	width: 39px;
	vertical-align: bottom;
}

.stars span {
	line-height: 1;
	vertical-align: bottom;
	font-size: 19px;
	font-weight: bold;
	color: #b5910a;
}


/* .stars.small */
.stars.small {
	margin: 5px 0 0;
	vertical-align: middle;
	float: left;
}

.stars.small img {
	width: 18px;
	margin-right: -5px;
}

.stars.small span {
	margin-left: 5px;
	font-size: 10px;
}


/* .like */
.like {
	width: 175px;
	line-height: 30px;
	margin: 10px 0;
	background-color: #ebebeb;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #e50054;
	text-align: center;
	overflow: hidden;
}

.like dt {
	width: 30px;
	background-color: #e50054;
	color: #fff;
	float: left;
}

.like dd span {
	font-size: 12px;
}


/* .like.small */
.like.small {
	width: 115px;
	line-height: 20px;
	margin: 5px 0 0;
	border-radius: 3px;
	font-size: 12px;
	float: right;
}

.like.small dt {
	width: 20px;
}

.like.small dd span {
	font-size: 11px;
}



/* header */
header {
	width: 100%;
	background-color: #fff;
}

header.no_fixed {
	padding-bottom: 10px;
	border-bottom: 6px solid #e7e9e8;
}

header h1 {
	line-height: 1.6;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background-color: #e50054;
	transform: rotate(0.03deg);
}

header h1+a {
	display: inline-block;
	padding-bottom: 10px;
}

header h1+a img {
	width: 212px;
}

header div {
	height: 115px;
	padding: 10px 0 0;
	background-color: #fff;
	border-bottom: 6px solid #e7e9e8;
	transform: rotate(0.03deg);
}

header div.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

header div p {
	margin-bottom: 5px;
	font-size: 18px;
	color: #e50054;
}

header div input[type="text"] {
	width: 500px;
	display: inline-block;
	vertical-align: middle;
	height: 55px;
	padding: 0 5px 0 45px;
	background: #f2f2f2 url(../img/icon_search.png)no-repeat 15px center;
	background-size: 19px auto;
	border: 3px solid #e50054;
	border-radius: 5px 0 0 5px;
	font-size: 16px;
}

header div input[type="submit"] {
	width: 140px;
	height: 55px;
	vertical-align: middle;
	margin-left: -5px;
	background-color: #e50054;
	color: #fff;
	font-size: 18px;
	border: 3px solid #e50054;
	border-radius: 0 5px 5px 0;
}

header div input::placeholder,
header div input:-ms-input-placeholder,
header div input::-ms-input-placeholder {
	color: #6d6b6b;
}

/*login_sec*/
header .login_sec {
	position: absolute;
	right: 10px;
	top: 50px;
	color: #e50054;
	width: 90px;
}

header .login_sec .img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

header .login_sec p {
	text-align: center;
	color: #e50054;
	font-size: 12px;
	margin-top: 5px;
}

/* concierge_sec */

header .concierge_sec {
	position: absolute;
	left: 10px;
	top: 40px;
	color: #e50054;
	width: 160px;
}


/* article */
article {}

article.fixed {
	padding-top: 115px;
}

article.fixed.no_fixed {
	padding-top: 0;
}

article.fixed.detail {
	padding-top: 100px;
}

article.fixed.detail2 {
	padding-top: 50px;
}

article.fixed.result_list {
	padding-top: 85px;
}


/* .cont */
.cont {
	padding: 40px 0 60px;
	transform: rotate(0.03deg);
}

.cont h2 {
	display: inline-block;
	padding: 0 30px 0 30px;
	margin: 0 auto 40px;
	font-size: 24px;
	font-weight: 900;
	color: #e50054;
	border-bottom: 3px solid #e50054;
}

.cont h2 img {
	width: 40px;
	margin-right: 15px;
}

.cont h2.tit {
	width: 100%;
	line-height: 68px;
	font-size: 24px;
	background-color: #e50054;
	color: #fff;
	border-bottom: none;
}

.cont h2.tit span {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	line-height: 26px;
	margin-right: 20px;
	border-radius: 5px;
	border: 3px solid #fff;
	font-size: 15px;
	font-weight: bold;
}

.cont h2.tit span.hokkaido {
	background-color: #33678e;
}

.cont h2.tit span.tohoku {
	background-color: #338d9f;
}

.cont h2.tit span.kanto {
	background-color: #338d77;
}

.cont h2.tit span.chubu {
	background-color: #7c963f;
}

.cont h2.tit span.kinki {
	background-color: #bd8533;
}

.cont h2.tit span.chugoku {
	background-color: #c4476c;
}

.cont h2.tit span.shikoku {
	background-color: #c55b49;
}

.cont h2.tit span.kyusyu {
	background-color: #8a6c8e;
}


/* .pager */
.pager {
	margin-top: 20px;
	padding: 0 3%;
}

.pager li {
	display: inline-block;
	width: 40px;
	line-height: 40px;
	margin: 0 2px 4px;
}

.pager li.prev,
.pager li.next {
	width: 145px;
}

.pager li.dot {
	width: auto;
}

.pager li a {
	display: block;
	font-size: 16px;
	color: #000;
	border-radius: 5px;
	background-color: #dedede;
}

.pager li.current a {
	color: #fff;
	background-color: #e50054;
}


/* footer */
footer {
	padding-top: 42px;
	transform: rotate(0.03deg);
}

footer>a img {
	width: 60px;
}

footer figure {
	margin: 30px 0;
}

footer figure img {
	width: 207px;
}

footer figure+ul {
	margin-bottom: 20px;
}

footer figure+ul li {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	margin: 0 10px;
}

footer figure+ul li a img {
	width: 100%;
}

footer nav ul li {
	border-bottom: 2px solid #d1cacd;
}

footer nav ul li:first-child {
	border-top: 2px solid #d1cacd;
}

footer nav ul li a {
	display: inline-block;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #e50054;
}

footer p {
	line-height: 50px;
	padding-bottom: 20px;
	font-size: 14px;
}


/* #bottom_nav */
#bottom_nav {
	background-color: #e50054;
	padding-bottom: 20px;
}

#bottom_nav ul {
	max-width: 680px;
	margin: auto;
	display: -webkit-flex;
	display: flex;
	border-right: 2px solid #db0e45;
	border-left: 2px solid #ce0c43;
}

#bottom_nav ul li {
	width: 136px;
	border-right: 2px solid #ce0c43;
	border-left: 2px solid #db0e45;
}

#bottom_nav ul li a {
	display: block;
	cursor: pointer;
}

#bottom_nav ul li a:hover {
	opacity: 1;
}

#bottom_nav ul li a img {
	width: 70px;
	margin-top: -20px;
	display: inline-block;
}

#bottom_nav ul li a span {
	display: block;
	font-size: 16px;
	color: #fff;
}


/* オーバーレイメニュー */
html.overlay {
	overflow: hidden;
	height: 100%;
}

#overlay_nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 102;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#overlay_nav>span {
	display: block;
	width: 40px;
	line-height: 37px;
	padding-bottom: 3px;
	font-size: 24px;
	background-color: #ccc;
	border-radius: 50%;
	transform: rotate(45deg);
	cursor: pointer;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 10;
}

#overlay_nav div {
	width: 80%;
	max-width: 400px;
	height: 100%;
	margin: auto;
	padding: 20px 20px 50px;
	background-color: #fff;
	position: fixed;
	right: -60%;
	top: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: right 0.4s;
	-webkit-transition: right 0.4s;
}

#overlay_nav div.open {
	right: 0;
}

#overlay_nav div>a {
	float: left;
}

#overlay_nav div>a img {
	width: 160px;
}

#overlay_nav div dl {
	padding-top: 10px;
	text-align: left;
	clear: both;
}

#overlay_nav div dl dt {
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #e50054;
	border-bottom: 4px solid #e7e9e8;
	transform: rotate(0.03deg);
}

#overlay_nav div dl dd {
	padding: 8px 20px;
	border-bottom: 2px dashed #e7e9e8;
	transform: rotate(0.03deg);
}

#overlay_nav div dl dd a {
	display: inline-block;
	font-size: 15px;
	color: #000;
}


/*kuchikomi_btn*/
.kuchikomi_btn {
	border: 2px solid #e40055;
	border-radius: 5px;
	width: 85%;
	max-width: 640px;
	margin: 0 auto;
	margin-top: 30px;
}

.kuchikomi_btn a {
	color: #e40055;
	width: 100%;
	padding: 10px 0;
	display: block;
	text-indent: 40px;
	font-size: 12px;
	background: #fbdde8;
	font-weight: bold;
}

.kuchikomi_btn a span {
	position: relative;
}

.kuchikomi_btn a span:before {
	position: absolute;
	background: url("../img/kuchikomi_btn_bg.png") no-repeat left center;
	background-size: contain;
	content: '';
	width: 90px;
	height: 90px;
	left: -100px;
	top: -40px;
}

table.table_style {
	width: 100%;
}

table.table_style th,
table.table_style td {
	padding: 10px;
	border-bottom: 2px #f1f1f1 solid !important;
}

table.table_style th {
	font-weight: normal !important;
	width: 110px;
	padding: inherit 10px;
}

table.table_style td {
	font-weight: normal !important;
}

table.table_style td.btn_td {
	width: 80px;
}

.sns_sec {
	display: flex;
	justify-content: space-between;
	line-height: 0;
}

.sns_sec li {
	width: 33%;
	margin: 3px 0 12px;
	text-align: center;
}

.sns_sec li a {
	color: #fff;
	display: block;
	width: 100%;
	background: #ddd;
	padding: 2px 0;
	font-size: 18px;
}

.sns_sec li.facebook a {
	background: #1877f2;
}

.sns_sec li.twitter a {
	background: #1DA1F2;
}

.sns_sec li.sns_line a {
	background: #00B900;
}


/*bottom_line_btn*/
#bottom_line_btn {
	position: fixed;
	bottom: 110px;
	right: 10%;
	width: 220px;
}

/* icon */
.icon_flash {
	animation: icon_flash 2s linear infinite;
}

@keyframes icon_flash {

	0%,
	20%,
	80%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.4;
	}
}