#chat_sec {
 position: relative;
 width: 640px;
 margin: 0 auto;
 position: relative;
 box-sizing: border-box;
 padding-bottom: 200px;
}


#chat_sec h3 {
 margin: 0 auto;
 padding-bottom: 10px;
width:320px;
 text-align: center;
margin-bottom:40px;
 font-size: 18px;
 font-weight:900;
color:#e50054;
border-bottom:2px solid #e50054;
}

#message_send_area {
 border-top: 1px solid #999;
 padding-top: 20px;
 position: relative;
 padding-bottom: 30px;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.7);
}


#chat_sec .table_style {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

#chat_sec .form {
 width: 80%;
 position: fixed;
 right: 2%;
 bottom: 0px;
}

.message_sec {
 display: flex;
 flex-flow: column;
 padding-bottom: 100px;
}

.message_sec .send_area {
 width: 48.5%;
}

.message_sec .admin.send_area {
 margin-left: auto;
}

.message_sec .message {
 margin-bottom: 20px;
}

.message_sec {
 position: relative;
 width: 100%;
}

.message_sec .message .name {
 margin-bottom: 5px;
 font-weight: bold;
}

.message_sec .message .time {
 margin-bottom: 15px;
 color: #999;
 font-size: 11px;
}

.message_sec .guest .message .time,.message_sec .guest .message .name {
 text-align: left;
}

.message_sec .admin .message .time {
 text-align: right;
}

.message_sec .admin .message .name {
 text-align: right;
 color: #266698;
}

.message_sec .message .comment {
 position: relative;
 width: 100%;
 font-size: 13px;
 background: #f1f1f1;
 padding: 15px;
 text-align: left;
 color: #000;
 border-radius: 5px;
}

.message_sec .message .comment:after {
 border: solid transparent;
 content: '';
 height: 0;
 width: 0;
 pointer-events: none;
 position: absolute;
 border-color: rgba(106, 90, 205, 0);
 border-top-width: 5px;
 border-bottom-width: 10px;
 border-left-width: 5px;
 border-right-width: 5px;
 margin-left: -10px;
 border-bottom-color: #f1f1f1;
 bottom: 100%;
 left: 5%;
}

.message_sec .admin .message .comment {
 background: #c3f69d;
 left: 0%;
 right: 5%;
}

.message_sec .admin .message .comment:after {
 border-bottom-color: #c3f69d;
 left: auto;
 right: 5%;
}

#message_send_area { width: 640px; margin: 0 auto; left: 0; right: 0; position: fixed; bottom: 0; }
#message_send_area textarea { border-radius: 5px; border: 1px solid #999; padding: 10px; width: 100%; box-sizing: border-box; min-height: 100px;}
#message_send_area button { background: #e50054; display: block; color: #fff; width: 500px; margin: 0 auto; border-radius: 5px; padding: 10px; font-weight: bold; border-bottom: 4px solid #ad0543;}