@charset "utf-8";

/* reserve */

.link_btn.reserve span {
	color: yellow;
	animation: flash 2s linear infinite;
	font-weight: bold;
}

@keyframes flash {

	0%,
	100% {
		color: yellow;
	}

	50% {
		color: white;
	}
}

@media screen and (max-width: 680px) {
	.link_btn.reserve span {
		font-size: 16px;
	}
}

/* .detail > nav */
.detail>nav {
	margin-top: 8px;
	background-color: #fff;
}

.detail>nav.fixed {
	width: 100%;
	margin-top: 0;
	position: fixed;
	top: 0;
	z-index: 100;
}

.detail>nav ul {
	letter-spacing: -0.4em;
	border-top: 7px solid #ececec;
	border-bottom: 7px solid #ececec;
}

.detail>nav ul li {
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	border-left: 4px solid #ececec;
}

.detail>nav ul li:nth-child(3n+3) {
	border-right: 4px solid #ececec;
}

.detail>nav ul li:nth-child(n+4) {
	border-top: 4px solid #ececec;
}

.detail>nav ul li a {
	display: block;
	line-height: 2;
	font-size: 20px;
	font-weight: bold;
	color: #e50054;
	transform: rotate(0.03deg);
}


/* .cont */
.cont .no_data {
	padding: 60px 0;
	font-size: 18px;
	font-weight: bold;
}

.cont section h3 {
	margin-bottom: 5px;
	font-size: 18px;
	text-align: left;
}

.cont section p {
	font-size: 16px;
	text-align: left;
}

.cont table {
	width: 100%;
	max-width: 640px;
	margin: 20px auto 0;
}

.cont table th,
.cont table td {
	border: 1px solid #000;
	font-size: 13px;
}

.cont table th {
	padding: 8px 0;
	background-color: #efeeed;
}

.cont table td {
	text-align: left;
	padding: 8px 10px;
}


/* #venue */
#venue {
	padding-top: 0;
}

#venue section {
	width: 640px;
	margin: auto;
}

#venue section:after {
	content: '';
	display: block;
	clear: both;
}

#venue section:first-of-type .double_slick {
	width: 50%;
	float: right;
	margin-left: 10px;
}

#venue section:first-of-type .double_slick img {
	width: 100%;
}

#venue section:first-of-type .double_slick .main_slick {
	width: calc(100% - 4px);
	margin: 0 auto 10px;
}

#venue section:first-of-type .double_slick .slick_nav li {
	outline: none;
	cursor: pointer;
}

#venue section:first-of-type .double_slick .slick_nav .slick-slide {
	margin: 2px;
}

#venue section:first-of-type .double_slick .slick_nav .slick-current img {
	border: 2px solid red;
	transform: scale(1.05);
}

#venue section.news_sec {
	margin-top: 10px;
	padding: 15px 20px 20px;
	background-color: #f1e8ec;
}

#venue section.news_sec h3 {
	margin-bottom: 20px;
	font-size: 21px;
	position: relative;
	text-align: center;
	display: inline;
}

#venue section.news_sec h3 img {
	width: 63px;
	position: absolute;
	left: -80px;
	top: 30%;
	transform: translateY(-50%);
}

#venue section.news_sec>img {
	width: 225px;
	float: left;
	margin-right: 20px;
}

#venue section.news_sec h4 {
	font-size: 16px;
	font-weight: normal;
	color: #e50054;
	text-align: left;
}

#venue section.news_sec h4 span {
	display: block;
	font-size: 12px;
	color: #000;
}

#venue section.news_sec p {
	font-size: 14px;
}

#venue .link_btn {
	margin-top: 10px;
}


/* #detail */
#detail {}

#detail ul.service_list {
	max-width: 680px;
	margin: auto;
	padding-left: 20px;
	text-align: left;
}

#detail ul.service_list li {
	width: 145px;
	display: inline-block;
	vertical-align: top;
	margin: 40px 6px 20px;
	position: relative;
	text-align: center;
}

#detail ul.service_list li:before {
	content: '';
	width: 100%;
	padding-top: calc(100% - 6px);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 3px solid #e7e9e8;
	border-radius: 50%;
	z-index: -1;

}

#detail ul.service_list li figure img {
	width: 80px;
}

#detail ul.service_list li figure figcaption {
	height: 2.6em;
	line-height: 1.3;
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

/* tab_panel */
#detail .tab_panel {
	margin: 40px auto;
}

#detail .tab_panel>ul {
	display: flex;
	justify-content: space-between;
}

#detail .tab_panel>ul>li {
	background-color: #fff;
	width: 32%;
	padding: 10px 0;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	color: #888;
	font-weight: bold;
	border: 3px solid #e7e9e8;
	border-bottom: 3px solid #e7e9e8;
	position: relative;
	bottom: -3px;
}

#detail .tab_panel>ul>li.active {
	border-bottom: 3px solid #fff;
	color: #e50054;
	bottom: -4px;
}

#detail .tab_panel_box {
	border: 3px solid #e7e9e8;
	box-sizing: border-box;
	padding: 30px 20px;
	border-radius: 5px;
	min-height: 150px;
}

#detail .tab_panel_box h3 {
	color: #e50054;
	margin-bottom: 10px;
}

#detail .tab_panel_box .in_tab_panel_box {
	display: none;
}

#detail .tab_panel_box .in_tab_panel_box.active {
	display: block;
}

#detail .tab_panel_box .in_tab_panel_box div {
	text-align: left;
}

#detail .tab_panel_box .in_tab_panel_box div table th {
	font-size: 13px !important;
}

#detail .tab_panel_box .in_tab_panel_box div table a {
	color: #000;
	text-decoration: underline;
	font-size: 13px !important;
}



.modal_sec ._terms dl {
	margin-bottom: 2em;
}

.modal_sec ._terms dl dt {
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: bold;
}

.modal_sec ._terms dl dd {
	font-size: 11px;
}

.modal_sec ._terms dl dd p {
	margin: 5px 0 5px 0;
}

.modal_sec ._terms dl dd table.table {
	margin: 5px 0 15px;
	padding: 0;
}

.modal_sec ._terms dl dd table.table th {
	background: #f1f1f1;
	width: 25%;
}

/* #shop */
#shop {}

#shop section {
	width: 640px;
	margin: auto;
}

#shop section:after {
	content: '';
	display: block;
	clear: both;
}

#shop section img {
	width: 327px;
	float: left;
	margin-right: 20px;
}

#shop table th {
	width: 170px;
	padding: 14px 10px;
	text-align: left;
}

#shop table td {
	padding: 14px 10px;
}

#shop table td:last-of-type {
	text-align: right;
	color: #e50054;
}

#shop table td .small {
	font-size: 10px;
}

#shop table td .bold {
	font-weight: bold;
}

/*▼▼▼20211011*/
#news {
	padding-bottom: 60px;
	background: url(../images/bg_pink.png);
	background-size: 85px auto;
}

#news h2 {
	white-space: nowrap;
}

/*▲▲▲▲20211011*/


/*▼▼▼20210616変更*/
/* #campaign */
#campaign {
	background: url(../images/bg_pink.png);
	background-size: 85px auto;
}

#campaign .inr ul.slick_campaign {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

#campaign .inr .link_btn {
	width: 90%;
}

#campaign .inr ul.slick_campaign:after {
	content: '';
	display: block;
	width: 114px;
	padding-top: 28.5%;
	background: url(../images/icon_coupon.png) no-repeat left top;
	/*20210617 変更*/
	background-size: 100% auto;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-60%, -30%);
}

#campaign .inr ul.slick_campaign .img {
	margin-bottom: 10px;
}

#campaign .inr ul.slick_campaign .img img {
	width: 100%;
	height: auto;
}

.campaign_modal p {
	font-size: 11px;
}

.campaign_modal .img {
	margin-bottom: 10px;
}

#campaign section h3 {
	color: #e50054;
	text-align: center;
}

#campaign section h3 span {
	display: block;
	font-size: 16px;
	font-weight: normal;
	color: #000;
}

#campaign section p {
	text-align: center;
}

/*▲▲▲▲20210616変更ここまで*/


/* #access */
#access {}

#access p {
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
}


/* #spot */
#spot {
	background: url(../images/bg_gray.png);
	background-size: 85px auto;
}


#spot h2+p {
	font-size: 16px;
}


/* #voice */
#voice {}

#voice>section {
	width: 640px;
	margin: 20px auto 0;
	padding: 20px 20px 30px;
	border: 1px solid #b6b6b6;
}

#voice>section dl {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

#voice>section dl dt {
	color: #e50054;
	float: left;
}

#voice>section h3 {
	margin-top: 15px;
}

#voice>section p {
	line-height: 1.7;
}

#voice>section section {
	margin-top: 20px;
	padding: 20px;
	background-color: #faeff3;
}

#voice>section section h4 {
	margin-bottom: 10px;
	font-size: 16px;
	text-align: left;
}


/* .back_btn */
.back_btn {
	display: inline-block;
	margin: 10px 0 30px;
}

.back_btn img {
	width: 122px;
}


/* .like_btn */
.like_btn {
	width: 161px;
	position: fixed;
	right: 30px;
	bottom: 120px;
	z-index: 101;
}

.like_btn:hover {
	opacity: 1;
}

.like_btn img {
	width: 100%;
}



/*Add style 20210524*/
/*.cont h2.tit { font-size: 20px;}*/
#venue section:first-of-type .double_slick {
	position: relative;
}

#venue section:first-of-type .double_slick .colona_icon {
	position: absolute;
	width: 80px;
	right: -35px;
	top: -26px;
	z-index: 10;
}

.colona_sec {
	max-width: 640px;
	margin: 15px auto;
}

.colona_sec h3 {
	color: #e50054;
	margin-bottom: 5px;
}

.colona_sec>div {
	display: table;
	width: 100%;
}

.colona_sec dl {
	font-size: 11px;
	display: table-row;
}

.colona_sec dt,
.colona_sec dd {
	display: table-cell;
	border-bottom: 1px solid #bbb;
	vertical-align: middle;
	padding: 7px 10px;
}

.colona_sec dt {
	background: #f1f1f1;
	width: 25%;
}

.colona_sec dd {
	text-align: left;
}

.colona_sec .open {
	font-weight: 600;
}

/*Add style 20210527*/

table th,
table td {
	border-color: #bbb !important;
}

#detail table th,
#detail table td {
	padding: 10px;
	font-size: 11px !important;
}

#detail table th {
	font-weight: normal !important;
	width: 110px;
	padding: inherit 10px;
}

#detail table td {
	font-weight: normal !important;
}

#detail table td.btn_td {
	width: 80px;
}

.modal_btn {
	display: block;
	width: 100%;
	font-size: 10px;
	color: #fff;
	background-color: #e50054;
	border-radius: 3px;
	padding: 3px 5px;
	text-align: center;
}

.modal_sec {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	padding-bottom: 60px;
}

.modal_sec .inr {
	background: #fff;
	width: 90%;
	max-width: 680px;
	margin: 20% auto;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
}

.modal_sec .inr>div {}

.modal_sec .inr .close {
	font-size: 28px;
	position: absolute;
	right: 15px;
	top: 0px;
	transform: rotate(45deg);
	cursor: pointer;
}

.modal_sec .inr h3 {
	border-bottom: 1px #999 dashed;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 15px;
	color: #e50054;
}

.modal_sec .inr div {
	text-align: left;
	font-weight: 100 !important;
}

.preserve_sec table.table_style td,
.preserve_sec table.table_style th {
	font-size: 12px;
}


/*Add 20210609*/

.news_sec {
	background: url(../images/bg_pink.png);
	background-size: 40px;
}

.news_sec ul {
	max-height: 250px;
	overflow-y: auto;
	margin-top: 10px;
}

.news_sec ul {}

.news_sec ul li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.news_sec ul li:not(:last-child) {
	border-bottom: 1px dashed #999;
}

.news_sec ul li .img {
	width: 30%;
}

.news_sec ul li .img img {
	width: 100%;
	height: auto;
}

.news_sec ul li .txt {
	width: 65%;
	padding-right: 5px;
}

#venue .news_sec ul li .txt h4 {
	font-weight: bold !important;
	font-size: 13px;
	margin-bottom: 4px;
}

#venue .news_sec ul li .txt p {
	font-size: 11px;
}

#venue .news_sec ul li .txt p.day {
	font-size: 10px;
	margin-bottom: 3px;
}



/*▼▼▼20210621変更*/
/*coupon*/

#coupon {
	background: url(../images/bg_pink.png);
	background-size: 85px auto;
}

.coupon_sec .ticket {
	position: relative;
	width: 90%;
	margin: 10px auto;
	min-height: 200px;
	padding: 30px;
}

.coupon_sec .ticket:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	left: -12px;
	top: -12px;
	background: url("../images/venue/coupon_blue.png") no-repeat left top;
	background-size: contain;
	z-index: 10;
}

.coupon_sec .ticket.present {
	border: 8px solid #3e8ac7;
	background: url("../images/venue/coupon_bg_blue.jpg") no-repeat center center #fff;
	background-size: 140px;
}

.coupon_sec .ticket.discount {
	border: 8px solid #dc7c42;
	background: url("../images/venue/coupon_bg_orange.jpg") no-repeat center center #fff;
	background-size: 140px;
}

.coupon_sec .ticket.present:before {
	background: url("../images/venue/coupon_blue.png?1.1") no-repeat left top;
	background-size: cover;
	z-index: 100;
}

.coupon_sec .ticket.discount:before {
	background: url("../images/venue/coupon_orange.png?1.1") no-repeat left top;
	background-size: contain;
	z-index: 100;
}

.coupon_sec .ticket h4 {
	color: #3C2F2F;
	font-size: 16px;
	text-align: center !important;
}

.coupon_sec .ticket p {
	font-size: 38px;
	font-weight: bold;
	line-height: 1.2;
	width: 85%;
	margin: 20px auto;
	text-align: center;
}

.coupon_sec .ticket p span.num {
	font-size: 78px;
}

.coupon_sec .expiration {
	font-size: 12px;
	text-align: center !important;
}

.coupon_sec p.info {
	font-size: 12px;
}

/*▼▼▼20210729追加*/
.gallery_sec li {
	width: 100%;
	margin-bottom: 10px;
}

.gallery_sec li img {
	width: 100%;
	height: auto;
}

.shopdetail_sec .main img {
	width: 40%;
	display: inline-block;
}

.shopdetail_sec .main p {
	width: 55%;
	display: inline-block;
	float: right;
}

.shopdetail_sec .info {
	clear: both;
	padding-top: 10px;
}

.shopdetail_sec .info .item {
	display: flex;
	border: 1px #ccc solid;
	margin-bottom: 10px;
}

.shopdetail_sec .info .checkbox_sec {
	width: 8%;
	background: #f1f1f1;
	text-align: center;
	display: flex;
}

.shopdetail_sec .info .checkbox_sec input[type="checkbox"] {
	margin: auto auto;
}

.shopdetail_sec .info .item dl {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.shopdetail_sec .info .item:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}

.shopdetail_sec .info dt {
	font-weight: bold;
	font-size: 1.0rem;
}

.shopdetail_sec .info .price {
	text-align: right;
	font-weight: bold;
	font-size: 0.9rem;
}

.shopdetail_sec .info .price span {
	font-size: 10px;
}

.shopdetail_sec .info .caption {
	font-size: 0.8rem;
}

ul.order_btn_sec {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
}

ul.order_btn_sec li:not(.order_btn) {
	margin: 5px;
}

ul.order_btn_sec li a {
	display: block;
	padding: 8px 0px;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
}

ul.order_btn_sec li.all_buy_btn {
	background: #4d8e5f;
	width: 50%;
}

ul.order_btn_sec li.order_btn {
	background: #cf2e56;
	width: 100%;
	padding: 8px;
	margin-top: 20px;
	font-weight: bold;
}

ul.order_btn_sec li.clear_btn {
	background: #b0adad;
	width: 35%;
}

.double_slick .cursol {
	position: absolute;
	z-index: 10000;
	left: 10px;
	top: 10px;
	color: #000;
	font-size: 9px;
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	content: "";
	background-color: #FFFFFF;
	border: 1px solid #999999;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"]:checked+span,
input[type="radio"]:checked+span {
	color: #e50054;
	font-weight: bold;
}

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	content: "";
	width: 14px;
	height: 14px;
	background: #e50054;
}

/*20210729ここまで*/

/*▼▼▼20210818追加*/
/* #youtube */
#youtube {
	background: url(../images/bg_pink.png);
	background-size: 85px auto;
}

#youtube .movie {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

#youtube iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/*▲▲▲20210818ここまで*/

@media screen and (max-width:680px) {

	.coupon_sec .ticket {
		padding: 30px 10px;
	}

	.coupon_sec .ticket h4 {
		font-size: 13px;
	}

	.coupon_sec .ticket p {
		font-size: 25px;
		width: 95%;
		margin: 10px auto;
	}

	.coupon_sec .ticket p span.num {
		font-size: 70px;
	}

	.coupon_sec.modal_sec .inr {
		background: #fff;
		width: 90%;
		margin: 20% 5%;
		padding: 30px 0px;
		box-sizing: border-box;
	}

	.coupon_sec p.info {
		font-size: 11px;
		padding: 5px 10px;
	}


	/*--20210729追加--*/
	.shopdetail_sec .main p {
		font-size: 0.8rem;
	}

	.shopdetail_sec .info dt {
		font-size: 0.8rem;
	}

	.shopdetail_sec .info .price {
		font-size: 0.8rem;
	}

	.shopdetail_sec .info .caption {
		font-size: 0.6rem;
	}

	ul.order_btn_sec li.all_buy_btn a,
	ul.order_btn_sec li.clear_btn a {
		font-size: 11px;
	}


	input[type="checkbox"],
	input[type="radio"] {
		width: 16px;
		height: 16px;
	}

	input[type="checkbox"]:checked:after,
	input[type="radio"]:checked:after {
		top: 2px;
		left: 2px;
		width: 10px;
		height: 10px;
	}

	.shopdetail_sec.modal_sec .inr {
		padding: 30px 15px;
	}

	/*20210729ここまで*/


	/*▼▼▼20210818追加*/
	/* #youtube */
	#youtube .inr {
		width: 98%;
	}

	/*▲▲▲20210818ここまで*/

}

/* menu-plan_sec */

#shop h3 {
	background-color: #e50054;
	margin: 20px 0 10px;
	color: #fff;
	padding: 3px 0;
}


.menu-plan_sec ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-plan_sec ul li {
	width: 48%;
	margin-bottom: 10px;
	cursor: pointer;
}

.menu-plan_sec ul li p {
	margin-top: 3px;
}

.menu-plan_sec ul li dt {
	display: none;
}

.menu-plan_sec ul li dd {
	color: #e50054;
}

.menu-plan_sec ul li .order_info {
	display: none;
}

.menu-plan_sec ul li dd span {
	font-size: 10px;
}

/* plan_modal */
.plan_modal p {
	margin: 10px;
	font-weight: bold;
}

.plan_modal .modal_close,
.calendar_modal .modal_close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: bold;
	font-size: 20px;
	background: #fff;
	border-radius: 9999px;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 1.2;
	border: 1px solid #000;
	cursor: pointer;
}


.plan_modal ul li {

	font-weight: bold;
	background: #fff;
	border-radius: 9999px;
	position: absolute;
	font-size: 12px;
	top: 40%;
}

.plan_modal ul li span {
	cursor: pointer;
	padding: 5px;
	display: block;
	width: 100%;
	height: 100%;
	width: 30px;
	height: 30px;
}

.plan_modal ul li:nth-of-type(1) {
	left: 10px;
}

.plan_modal ul li:nth-of-type(2) {
	right: 10px;
}


.plan_modal p {}

.plan_modal dt {
	text-align: left;
	margin-bottom: 10px;

}

.plan_modal dd {
	color: #e50054;
	font-weight: bold;
	text-align: right;
}

.plan_modal dd span {
	font-size: 10px;
}

.plan_modal .order_info {
	color: #e50054;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	margin-top: 3px;
	padding-top: 3px;
	border-top: 1px dashed #e50054;
}

/*column_sec*/
.column_sec {
	background: url(../images/bg_blue.jpg);
	background-size: 40px;
}

.column_sec .type01 {
	background: #6fabb7;
}

.column_sec .type02 {
	background: #de6d70;
}

.column_sec .type03 {
	background: #71a346;
}

.column_sec .type04 {
	background: #dba647;
}

.news_sec.column_sec ul {
	max-height: none;
	overflow-y: unset;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news_sec.column_sec li {
	padding: 3px 0;
	margin: 5px 0;
}

.news_sec.column_sec dl {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0px;
	padding: 0;
}

.news_sec.column_sec dt {
	width: 12%;
	font-size: 10px;
	color: #fff;
}

.news_sec.column_sec dd {
	width: 86%;
	text-align: left;
	font-size: 12px;
}

.news_sec.column_sec dd a {
	color: #000;
}

.news_sec.column_sec .txt {
	width: 100%;
}

.news_sec.column_sec .btn {
	font-size: 12px;
	background-color: #3fb5ca;
	border-radius: 5px;
	padding: 2px 30px;
	border-bottom: 2px solid #147182;
	margin-top: 20px;
	color: #fff;
}

.recommend_btn {}

.recommend_btn a {
	font-weight: bold;
	display: block;
	color: #fff;
	font-size: 16px;
	background: #1dc3e1;
	padding: 10px 0;
	margin: 20px 0;
	border-radius: 5px;
	border-bottom: 3px solid #0fa1bb;
}

.recommend_btn a span {
	padding-left: 20px;
	position: relative;
}

.recommend_btn a p {
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	margin-top: 5px;
}

.recommend_btn a span:before {
	content: "";
	position: absolute;
	left: -15px;
	top: -4px;
	background: url('../../assets/img/icon_info.gif') left center;
	background-size: contain;
	width: 28px;
	height: 28px;
}

.icon {
	position: relative;
	top: -5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.icon li {
	width: 47%;
}



/*-------------------------
	main_menu 20230629
-------------------------*/

#menu_btn {
	position: fixed;
	bottom: 100px;
	right: 10px;
	z-index: 10;
	width: 100px;
	font-size: 10px;
}

body {
	padding-bottom: 100px;
}

#reserve_sec {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#reserve_sec ul {
	display: flex;
	justify-content: space-between;
}

#reserve_sec li {
	position: relative;
	width: 33.33%;
}

#reserve_sec li a {
	position: relative;
	top: -10px;
	color: #fff;
	font-weight: bold;
}

#reserve_sec li a p {
	padding-top: 5px;
}

#reserve_sec li:nth-child(1) {
	background-color: #3871c7;
}

#reserve_sec li:nth-child(2) {
	background-color: #f2206f;
}

#reserve_sec li:nth-child(3) {
	background-color: #3cb03e;
}

#reserve_sec li img {
	max-width: 70px;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -10px;
}

/*------------------------- 
予約人数 
-------------------------*/
.reserved_people {
	max-width: 65%;
	text-align: left;
	position: fixed;
	bottom: 140px;
	left: -100vw;
	background-color: rgba(229, 0, 84, 0.9);
	border-radius: 3px;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #fff;
	z-index: 100;
}

.reserved_people.none {
	left: -100vw;
}

.reserved_people p {
	position: relative;
	padding-left: 20px;
}

.reserved_people p::before {
	content: "";
	position: absolute;
	background: url("../../assets/img/venue/reserved_icon.svg") no-repeat left center;
	width: 24px;
	height: 24px;
	background-size: contain;
	left: -10px;
	top: 0;
}

.reserved_people .close {
	position: absolute;
	right: -10px;
	top: -10px;
	transform: rotate(45deg);
	border-radius: 9999px;
	width: 26px;
	height: 26px;
	color: #fff;
	border: 2px solid #fff;
	background-color: #e50054;
	text-align: center;
	padding: 4px;
	line-height: 1;
	font-weight: bold;
	box-sizing: border-box;
}

@keyframes reserved_people_animation {
	0% {
		left: -100vw;
	}

	10%,
	90% {
		left: 10px;
	}

	100% {
		left: -100vw;
	}
}

.reserved_people_animation {
	animation-name: reserved_people_animation;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
}

/*------------------------- 
よくある質問 
-------------------------*/

#qa_sec {
	background-color: #fcf5f7;
}

#qa_sec .inr {
	margin: 0 auto;
	width: 95%;
}

#qa_sec .qa_category {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #999;
	padding: 10px 20px;
	border-radius: 5px;
}

#qa_sec .qa_category h3 {
	cursor: pointer;
	color: #000;
	position: relative;
	font-size: 14px;
	padding: 5px 0;
}

#qa_sec .qa_category h3::after {
	content: "";
	position: absolute;
	right: -5px;
	top: 10px;
	width: 10px;
	height: 10px;
	border: 1px solid;
	margin: 0 auto;
	border-color: transparent transparent #000 #000;
	transform: rotate(-135deg);
	transition: transform 0.2s ease-out;
}

#qa_sec .qa_category h3.active::after {
	transform: rotate(-45deg);
}

#qa_sec .qa_contents {
	display: none;
	text-align: left;
	padding-top: 20px;
}

#qa_sec .qa_contents dl {
	margin-bottom: 20px;
	border-bottom: 1px dashed #ccc;
}

/* 
#qa_sec .qa_contents dl span {
	padding-left: 1.5em;
	text-indent: 1.5em;
	display: inline-block;
} */

#qa_sec .qa_contents dl dt {
	margin-bottom: 5px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	color: #e50054;
	position: relative;
	width: 95%;
	padding-left: 25px;
	box-sizing: border-box;
}

#qa_sec .qa_contents dl dt span {
	content: "Q";
	background-color: #e50054;
	font-weight: bold;
	color: #fff;
	border-radius: 9999px;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	left: 0px;
}

#qa_sec .qa_contents dl dt.active::after {
	content: "×";
	position: absolute;
	right: -30px;
	top: 0;
	background-color: #f1f1f1;
	color: #000;
	border-radius: 9999px;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

#qa_sec .qa_contents dl dd {
	display: none;
	font-size: 13px;
	padding: 10px 0;
	line-height: 1.8;
}

#qa_sec .qa_contents dl dd a {
	color: #e50054;
	text-decoration: underline;
}