@charset "UTF-8";
[x-cloak] {
  display: none !important;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.pink {
  color: #e50054 !important;
}

a {
  color: #e50054;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  opacity: 1;
  outline: none;
}
a.line {
  text-decoration: underline;
}

a:hover {
  opacity: 0.7;
}

.bk {
  color: #000 !important;
}

.sp_only {
  display: none !important;
}

.pc_only {
  display: block !important;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

hr {
  border-bottom: 1px solid #ccc;
  margin: 30px 0;
}

.caption {
  font-size: 10px;
  color: #555;
  text-align: left;
}

.inr {
  width: 1080px;
  margin: 0 auto;
}

section {
  padding: 30px 0;
}

.btn {
  border-radius: 3px;
  border-bottom: 4px solid #980630;
  background-color: #db0e45;
  color: #fff;
}
.btn a {
  display: block;
  color: #fff;
  padding: 10px 30px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.btn.type01 {
  width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: 3px solid #999;
}
.btn.type01 a {
  color: #000;
}

.ttl {
  font-weight: bold;
  font-size: 1.8em;
  margin: 10px 0 30px;
}

.stars img {
  width: 20px;
  margin: -1px;
  height: auto;
}
.stars .star img {
  padding: 0 1px;
}
.stars span.score {
  color: #4d520a;
  padding-left: 5px;
  font-weight: bold;
}

.table {
  display: table;
  border-collapse: collapse;
}
.table > dl {
  display: table-row;
}
.table > dl > dt, .table > dl > dd {
  display: table-cell;
  vertical-align: middle;
}
.table.w100 {
  width: 100%;
}
.table.border > dl > dt, .table.border > dl > dd {
  padding: 3px 10px;
  border: 1px solid #999;
}
.table.border > dl > dt {
  width: 20%;
  background-color: #f9f9f9;
}
.table.bottom_border > dl > dt, .table.bottom_border > dl > dd {
  padding: 3px 10px;
  border-bottom: 1px solid #999;
}
.table.bottom_border > dl > dt {
  width: 20%;
  background-color: #f9f9f9;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
|
| header
| 
ーーーーーーーーーーーーーーーーーーーーーー*/
header .header_top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
header h1 {
  background-color: #e50054;
  color: #fff;
}
header .logo {
  width: 180px;
  text-align: center;
}
header .logo p {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 10px;
  color: #e50054;
}
header .main_nav {
  background-color: #f1f1f1;
  font-weight: 500;
  padding: 10px;
}
header .main_nav li a {
  font-size: 1.1em;
}
header .main_nav li a::hover {
  color: #e50054;
}
header .main_nav > ul {
  justify-content: space-around;
  display: flex;
}
header .main_nav > ul li {
  cursor: pointer;
  display: block;
  width: 100%;
}
header .main_nav > ul li a {
  display: block;
  text-align: center;
  color: #000;
}
header .main_nav > ul li a:hover {
  color: #e50054;
}
header .main_nav > ul > li.sub_menu {
  height: auto;
  position: relative;
}
header .main_nav > ul > li.sub_menu > ul {
  width: 100%;
  position: absolute;
  z-index: 1000;
  padding: 10px 0;
  background-color: #f1f1f1;
}
header .main_nav > ul > li.sub_menu > ul li {
  width: 100%;
  margin: 15px 0;
}
header #navi_btn {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
}
header .user_sec {
  gap: 20px;
  display: flex;
  text-align: left;
}
header .user_sec .user_info {
  padding-right: 10px;
}
header .user_sec .user_info dl {
  align-items: center;
  display: flex;
}
header .user_sec .user_info dl dt {
  padding-right: 1em;
}
header .user_sec .user_info p.user_name {
  border-bottom: 1px dashed #db0e45;
}
header .user_sec .btn {
  display: flex;
  align-items: center;
  background-color: #db0e45;
}
header .nav_user_sec {
  border: 4px solid #e7e9e8;
  border-radius: 4px;
  padding: 20px;
}
header .nav_user_sec dl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
header .btn_sec {
  margin-left: auto;
}
header .btn_sec ul {
  gap: 10px;
  display: flex;
}
header .btn_sec ul .logout {
  background-color: #a47704;
  border-color: #614d0c;
}
header .btn_sec ul .mypage {
  background-color: #1169dc;
  border-color: rgb(19, 63, 141);
}
header .btn_sec ul .contact {
  background-color: #079741;
  border-color: #124526;
}

.point_sec {
  color: #db0e45;
  font-weight: bold;
  font-size: 1.6em;
}
.point_sec span {
  font-size: 0.8em;
  padding-left: 4px;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
|
| pager
| 
ーーーーーーーーーーーーーーーーーーーーーー*/
.pager {
  margin-top: 20px;
  padding: 0 3%;
}
.pager li {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  margin: 0 2px 4px;
}
.pager li a {
  display: block;
  font-size: 16px;
  color: #000;
  border-radius: 5px;
  background-color: #dedede;
}
.pager li.prev,
.pager .pager li.next {
  width: 145px;
}
.pager li.dot {
  width: auto;
}
.pager li.current a {
  color: #fff;
  background-color: #e50054;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
|
| nav
| 
ーーーーーーーーーーーーーーーーーーーーーー*/
#bottom_nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #e50054;
  padding-bottom: 20px;
  z-index: 10;
}
#bottom_nav ul {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  border-right: 2px solid #db0e45;
  border-left: 2px solid #ce0c43;
}
#bottom_nav ul li {
  width: 25%;
  border-right: 2px solid #ce0c43;
  border-left: 2px solid #db0e45;
}
#bottom_nav ul li a {
  display: block;
  cursor: pointer;
}
#bottom_nav ul li a span {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
#bottom_nav ul li a:hover {
  opacity: 1;
}
#bottom_nav ul li a img {
  width: 30%;
  margin-top: -20px;
  display: inline-block;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
|
|   ご意見箱
| 
ーーーーーーーーーーーーーーーーーーーーーー*/
.defect_report_sec {
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* オーバーレイメニュー */
html.overlay {
  overflow: hidden;
  height: 100%;
}

.overlay_nav,
#overlay_nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay_nav div.modal {
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin: auto;
  padding: 20px 20px 50px;
  background-color: #fff;
  position: fixed;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#overlay_nav > span {
  display: block;
  width: 40px;
  line-height: 37px;
  padding-bottom: 3px;
  font-size: 24px;
  background-color: #ccc;
  border-radius: 50%;
  transform: rotate(45deg);
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

#overlay_nav div.sec {
  width: 80%;
  max-width: 400px;
  height: 100%;
  margin: auto;
  padding: 20px 20px 50px;
  background-color: #fff;
  position: fixed;
  right: -60%;
  top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: right 0.9s;
  -webkit-transition: right 0.9s;
}
#overlay_nav div.sec .logo span {
  font-size: 14px;
}
#overlay_nav div.sec.open {
  right: 0;
}
#overlay_nav div.sec.open > a {
  float: left;
}
#overlay_nav div.sec.open > a img {
  width: 160px;
}
#overlay_nav div.sec dl.nav {
  padding-top: 10px;
  text-align: left;
  clear: both;
}
#overlay_nav div.sec dl.nav dt {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #e50054;
  border-bottom: 4px solid #e7e9e8;
  transform: rotate(0.03deg);
}
#overlay_nav div.sec dl.nav dd {
  padding: 8px 20px;
  border-bottom: 2px dashed #e7e9e8;
  transform: rotate(0.03deg);
}
#overlay_nav div.sec dl.nav dd a {
  display: inline-block;
  font-size: 15px;
  color: #000;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
|
| footer
| 
ーーーーーーーーーーーーーーーーーーーーーー*/
footer {
  margin-top: 100px;
  border-top: 3px solid #eee;
}
footer .inr {
  padding: 40px 0 40px 0;
}
footer .logo {
  width: 200px;
  margin: 0 auto;
}
footer .sns_sec {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  line-height: 0;
  gap: 20px;
}
footer .sns_sec li {
  width: 50px;
  margin: 3px 0 12px;
  text-align: center;
}
footer .sns_sec li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 2px 0;
  font-size: 18px;
}
footer nav ul {
  display: flex;
  justify-content: space-around;
}
footer nav ul li a {
  color: #000;
}
footer #copyright {
  background-color: #f1f1f1;
  padding: 30px 0 150px;
}

@media screen and (max-width: 1080px) {
  .inr {
    width: 100%;
  }
  header .btn {
    font-size: 10px;
  }
  header .btn a {
    padding: 13px;
  }
}