body { text-align: left!important;}

body h2 {
	margin-bottom:20px;
	padding:8px 0 8px 20px;
	font-size:20px;
	color:#e50054!important;
	border-left:6px solid #e50054;
    text-align: left;
    margin: 40px 0 10px 0;
}