.column_singlep {line-height: 1.5;margin: 0 0 1em 0;}.column_singleem,.column_singlei,.column_single q,.column_single dfn {font-style: italic;}.column_singleem em,.column_single em i,.column_single i em,.column_single i i,.column_single cite em,.column_single cite i {font-weight: bolder;}.column_single big {font-size: 1.2em;}.column_singlesmall {font-size: 0.75em;}.column_single b,strong {font-weight: 700;}.column_single ins {text-decoration: underline;}.column_single sub,.column_single sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}.column_single sup {top: -0.5em;}.column_single sub {bottom: -0.25em;}.column_single abbr,.column_single acronym {cursor: help;}.column_single address {line-height: 1.5;margin: 0 0 2rem 0;}.column_single hr {border-style: solid;border-width: 0.1rem 0 0 0;border-color: #dcd7ca;margin: 4rem 0;}/* Tables ------------------------------------ */.column_singletable {border: 0.1rem solid #dcd7ca;border-collapse: collapse;border-spacing: 0;empty-cells: show;font-size: 1.6rem;margin: 4rem 0;max-width: 100%;overflow: hidden;width: 100%;}.column_single.alignleft > table {margin: 0;}.column_single.alignright > table {margin: 0;}.column_singleth,.column_singletd {border: 0.1rem solid #dcd7ca;line-height: 1.4;margin: 0;overflow: visible;padding: 0.5em;}.column_singlecaption {background: #dcd7ca;font-weight: 600;padding: 0.5em;text-align: center;}.column_singlethead {vertical-align: bottom;white-space: nowrap;}.column_singleth {font-weight: 700;}/* Lists ------------------------------------- */.column_singleul,.column_singleol {margin: 0 0 3rem 3rem;}.column_singleul {list-style: disc;}.column_singleul ul {list-style: circle;}.column_singleul ul ul {list-style: square;}.column_singleol {list-style: decimal;}.column_singleol ol {list-style: lower-alpha;}.column_singleol ol ol {list-style: lower-roman;}.column_singleli {line-height: 1.5;margin: 0.5rem 0 0 2rem;}.column_singleli > ul,.column_singleli > ol {margin: 1rem 0 0 2rem;}.column_single.reset-list-style,.column_single.reset-list-style ul,.column_single.reset-list-style ol {list-style: none;margin: 0;}.column_single.reset-list-style li {margin: 0;}.column_singledt,.column_singledd {line-height: 1.5;}.column_singledt {font-weight: 700;}.column_singledt + dd {margin-top: 0.5rem;}.column_singledd + dt {margin-top: 1.5rem;}/* Quotes ------------------------------------ */.column_singleblockquote {border-color: #cd2653;border-style: solid;/*rtl:ignore*/border-width: 0 0 0 0.2rem;color: inherit;font-size: 1em;margin: 4rem 0;/*rtl:ignore*/padding: 0.5rem 0 0.5rem 2rem;}.column_singlecite {color: #6d6d6d;font-size: 1.4rem;font-style: normal;font-weight: 600;line-height: 1.25;}.column_singleblockquote cite {display: block;margin: 2rem 0 0 0;}.column_singleblockquote p:last-child {margin: 0;}

/* Block Typography Classes ------------------ */.has-text-align-left {/*rtl:ignore*/text-align: left;}.has-text-align-center {text-align: center;}.has-text-align-right {text-align: right;}.has-drop-cap:not(:focus)::first-letter {color: #cd2653;font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;font-size: 5.1em;font-weight: 800;margin: 0.05em 0.1em 0 0;}.has-drop-cap:not(:focus)::first-letter::after {content: "";display: table;clear: both;}.has-drop-cap:not(:focus)::after {padding: 0;}

 .wp-block-image .aligncenter  {
        text-align: center;
    }
	


/*color*/
.orange { color:#e83b1a!important;}
.green { color:#2e883a!important;}
.brown { color:#40230f!important;}
.white { color:#fff!important;}
.yellow { color:#FF0!important;}

.column_single strong { color:#e83b1a!important; }
.column_single p { font-size:1.5rem; margin-bottom:1.8rem;}
.column_ttl { width:600px; margin:0 auto; border-bottom:2px solid #e83b1a; padding:20px 0; margin-bottom:40px;}

.column_single h2 { margin:40px 0 20px 0; background:#f8f9e4; border-left:8px solid #e83b1a; font-size:2.4rem;  padding:10px 0 10px 25px; font-weight:bold;}
.column_single h3 { font-size:2.0rem; border-bottom:1px #000000 dashed; padding:10px 0; margin:30px 0 30px 0; font-weight:bold;}
.column_single h4 { font-size:1.8rem; margin-bottom:1.5rem; font-weight:bold;  color:#2e883a;}
.column_single h5 { font-size:1.6rem; margin-bottom:1.5rem;  font-weight:bold;}

.column_single img { width:auto; height:auto; margin-bottom:20px;}

@media screen and (max-width: 768px) {
	
#column .pagettl_sec+.sec { margin-top:0; padding-top:0;}
.column_ttl { width:100%; }
.column_ttl h3 {line-height:2;}
.column_single h2 { font-size:1.8rem;  }
.column_single h3 { font-size:1.6rem; }
.column_single h4 { font-size:1.5rem; }
.column_single h5 { font-size:1.4rem; }

.wp-block-image img { max-width:90%; height:auto; }

/* テーブルに線と均等幅*/
table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	table-layout: fixed;
}

th:first-child,
td:first-child {
	padding-left: 0.4em;
}