.facilities ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.facilities ul li {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.facilities ul li:hover, .facilities ul li.active {
  background-color: #e50053;
  color: #fff;
}

.payment_btn ul {
  display: flex;
  font-size: 85%;
}
.payment_btn ul li {
  font-weight: 600;
  border: 1px solid #555;
  background-color: #fff;
  padding: 5px 20px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}
.payment_btn ul li:nth-child(2) {
  border-left: none;
  border-right: none;
}
.payment_btn ul li:first-child {
  border-radius: 5px 0 0 5px;
}
.payment_btn ul li:last-child {
  border-radius: 0 5px 5px 0;
}
.payment_btn ul li.active {
  background-color: #e50053;
  color: #fff;
}

.calendar h2 {
  text-align: center;
}
.calendar table.table {
  table-layout: fixed;
  min-height: 400px;
  border: 2px solid #555;
  background-color: #fff;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-weight: 500;
}
.calendar table.table thead th {
  text-align: center;
  background-color: #777;
  color: #fff;
  padding: 8px;
}
.calendar table.table thead th.sat {
  background-color: rgb(88, 175, 252);
}
.calendar table.table thead th.sun {
  background-color: #ea6969;
}
.calendar table.table th,
.calendar table.table td {
  border: 1px solid #555;
  padding: 5px 10px;
  position: relative;
}
.calendar table.table th .projectCount,
.calendar table.table td .projectCount {
  background-color: #e50053;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
}
.calendar table.table th .projectCount .num,
.calendar table.table td .projectCount .num {
  font-size: 16px;
}
.calendar table.table th .projectCount span,
.calendar table.table td .projectCount span {
  font-size: 11px;
  padding-left: 3px;
}
.calendar table.table th.today,
.calendar table.table td.today {
  background-color: #fbfbce;
}
.calendar table.table th .day,
.calendar table.table td .day {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 90%;
  color: #999;
}
.changeMonth_sec {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.changeMonth_sec button {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.changeMonth_sec button:hover {
  background-color: #e50053;
  color: #fff;
}

.modal_sec .link a {
  color: #000;
  text-decoration: underline;
}
.modal_sec .close_btn {
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 9999px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
}
.modal_sec .close_btn:hover {
  color: #e50053;
}
.modal_sec h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.modal_sec table {
  width: 100%;
  text-align: center;
}
.modal_sec table thead th {
  text-align: center;
  background-color: #777;
  color: #fff;
  padding: 5px;
}
.modal_sec table th, .modal_sec table td {
  border: 1px solid #555;
}
.modal_sec table tbody {
  font-weight: 500;
}
.modal_sec table tbody td {
  padding: 10px;
}
.modal_sec table tbody td a.btn {
  padding: 1px 5px;
  width: 100%;
}
.modal_sec table tbody td a.btn:hover {
  color: #fff;
}